In [1]:
import pandas as pd
import numpy as np

In [2]:
name = input("Enter your name:")
print(f"Hello {name}!")

Enter your name:Jac
Hello Jac!

In [4]:
df = pd.read_csv('data/df_cleaned_removed_outliers.csv')
df.head()

,Unnamed: 0,hhid,municipality,barangay,hcn,hcn_nrdb,geopoint_hh_long,geopoint_hh_lat,hh_totmem,hh_totmem_male,...,hhage,hheduca2,hheduca3,hheduca4,hheduca5,hheduca67,hhntagri,urb_loc,Unnamed: 237,emp_ratio
0,1,3490300201000002,CABANATUAN CITY,Aduas Centro (Aduas),2.0,2.0,120.963972,15.495107,4,2.0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0
1,2,3490300201000003,CABANATUAN CITY,Aduas Centro (Aduas),3.0,3.0,120.963789,15.495142,4,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0
2,3,3490300201000004,CABANATUAN CITY,Aduas Centro (Aduas),4.0,4.0,120.964056,15.495096,5,3.0,...,63.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0
3,4,3490300201000005,CABANATUAN CITY,Aduas Centro (Aduas),5.0,5.0,120.964120,15.494900,7,4.0,...,103.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,2.5
4,6,3490300201000007,CABANATUAN CITY,Aduas Centro (Aduas),7.0,7.0,120.963870,15.495140,5,3.0,...,38.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,4.0

In [12]:
feature_cols = [
                'hh_totmem', # gen demographics
                'ndeath05','nmaln05', # health
                'msh','squat', # housing
                'ntsws','ntstf', # nutrition
                'nntelem611','nnths1215','ntert1721', # education
                'povp', # y variable
                'subp','fshort', # income
                'nunempl15ab','nlabfor',# employment
                 # dependents
                'nvictcr'# safety
                ]

In [13]:
df[feature_cols]

,hh_totmem,ndeath05,nmaln05,msh,squat,ntsws,ntstf,nntelem611,nnths1215,ntert1721,povp,subp,fshort,nunempl15ab,nlabfor,nvictcr
0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,2.0,0.0
3,7,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68178,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
68179,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
68180,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68181,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0
68182,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0